job_name: "inference/multi_3_DT_moflow"
config_root_path: "config/"
base: "model-arch/moflow_base.yaml"
pipeline: [
    "model-pipeline/moflow_config.yaml",
    "model-pipeline/moflow_loss.yaml",
    "dataset/dataset_DT.yaml",
    "trainers/moflow_trainer.yaml",
]
pre_model: "../checkpoints/251130_multi_3_DT_moflow_ft_e29.pt"

initial_inference: false
# log:
#   test_image_epoch_sum: 125
# trainer:
#     debug_data_flow: false
trainer:
    recurrent_train:
        block_size: [
            {'start': 0, 'end': 0.5, 'value': 3, 'ratio': true},
            {'start': 0.5, 'end': 1, 'value': 3, 'ratio': true},
        ]
    recurrent_test:
        block_size: [
            {'start': 0, 'end': 1, 'value': 3,'ratio': true},
        ]
include: []
train_parameter: {
    "epoch": 150,
    "batch_size": 8,
    # "gradient_accumulation_steps": 4,
    "amp": true,
    "train_precision_mode": "fp16",
    "lr_config": {
        "class": "ConstantWarmup",
        "max_lr": !!float 1e-4,
        "min_lr": !!float 1e-5,
        "warmup_epoch": 0,
        'decay_at_epoch': 0,
        'total_epoch': 200,
    #     # "gamma": 1.0,
    },
}
debug: False
num_gpu: 2
# cuda_visible_devices: '4\,5\,6\,7'
# cuda_visible_devices: '6\,7\,2\,3'
cuda_visible_devices: '1\,0'

output_root_path: "../output/train_output/"
# clear_output_path: True
buffer_config:
    set_max_luminance: true
    max_luminance: !!float 1024.0
    mu: !!float 8.0
dataset: 
    "demodulation_mode": "ess"
    scale_config: {}
    # pin_memory: true
    "part": [metadata, depth, world_normal, gbuffer, base_color, scene_color_no_st, nov, motion_vector, sky_color, skybox_mask, st, ]
    train_precision_mode: "fp16"
    shuffle_metadata: false
    shuffle_loader: false
    augment_loader: false
    flip: true
    train_num_worker_sum: 8
    block_size: 8
    part_size: 4
    train_scale: !!float 1.0
model: {
    model_name: "multi_3_DT_moflow",
    # model_name: "DT_ours",
    "dummy_input_size_h": 720, # 368 480  720 1088 1440 2160
    "dummy_input_size_w": 1280, # 960 880 1280 1920 2560 3840
    "history_encoders": {
        "num": 2,
    },
    "loss_config": {
        "zero_flow_mask": true,
        "zero_flow_ratio": 0.05
    },
    "feature_config": {
        "flow_residual_scale": 0.1,
    },
    "feature": [
        "flow_residual_scale",
        "demodulate",
        "demodulate_before_warp",
        "recurrent_d2e",
        "recurrent_d2e_decoding_split",
        "feature_warp",
        "input_block",
        "output_block",
        "st",
        "single_encoding_split_st",
        "st_feature_warp",
        'rmv_fuse',
        'initial_by_rmv',
        'st_rmv_fuse',
        'st_initial_by_rmv',
        "tmv_skip_conn",
        "st_lmv_res",
        "st_lmv_res_cat",
        "his_st_lmv_res",
        "his_st_lmv_res_cat",
        "lmv_res",
        "lmv_res_cat",
        "his_lmv_res",
        "his_lmv_res_cat",
    ],
}